<html>
    <head>
        <title>Eleventy + Netlify + PlanetScale Blog Example</title>
    </head>
    <body>
        <h1>
            <a href="/">Eleventy + Netlify + PlanetScale Blog Example</a>
        </h1>
        <div>
            {{ content | safe }}
        </div>
    </body>
</html>
