<html>
    <head>
        <title>Eleventy + Netlify + PlanetScale Blog Example</title>
    </head>
    <body>
        <h1>
            Eleventy + Netlify + PlanetScale Blog Example
        </h1>
        {{ content | safe }}
    </body>
</html>
