---
layout: layouts/base.njk
pagination:
   data: posts
   size: 1
   alias: post
permalink: "/post/{{ post.title | slug }}/"
eleventyComputed:
---
<div>
  <h2>{{ post.title }}</h2>
  <p class="text-gray-700 text-sm">Posted on {{ post.published | dtFormat }}</p>
  <p>{{ post.body | markdown | safe }}</p>
</div>
