---
layout: layouts/base.njk
pagination:
   data: posts
   size: 1
   alias: post
permalink: "/post/{{ post.title | slug }}/"
eleventyComputed:
---
<h2>{{ post.title }}</h2>

<p>Posted on {{ post.published | dtFormat }}</p>

{{ post.body | markdown | safe }}
